html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section:last-child {
    margin-right: 0; }
  section figure {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    color: gray; }
    section figure:last-child {
      margin-right: 0; }
