@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";

figure {
  @include span-columns(6);
  @include omega(2n);
  margin: 0;
  margin-bottom: 25px;
  margin-right: 25px;
}

section{
  @include outer-container;
  @include span-columns(12);
  color: gray;
  margin-top: 25px;
}

img{
  width: 100%;
}
