html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

figure {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin: 0;
  margin-bottom: 25px;
  margin-right: 25px; }
  figure:last-child {
    margin-right: 0; }
  figure:nth-child(2n) {
    margin-right: 0; }
  figure:nth-child(2n+1) {
    clear: left; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  color: gray;
  margin-top: 25px; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section:last-child {
    margin-right: 0; }

img {
  width: 100%; }
